<%- include('../partials/header') %>
<div class="container-md">
  <p>Welcome to <%= title %></p>
</div>

<% ingredients.forEach( ing => { %>
  <ul>
    <li>
      <a href="/ingredients/<%= ing.id  %>"><%= ing.name %></a>
    </li>
  </ul>
<% }) %>
  



<a href="/ingredients/new">New Ingredient</a>
  

<%- include('../partials/footer') %>