<%- include('../partials/header') %>

<div class="container">
  <div class="row">
    <div class="col m-4">
      <% if(ingArr.length) {%>
          <form action="/smoothies" method="post">
            <div class="form-group">
              <label>Name
                  <input name="name" type="text" class="form-control m-2" required>
              </label>
            </div>
            <div class="form-group">
              <label>Image
                  <input name="image" type="text" class="form-control m-2">
              </label>
            </div>
              <button type="submit" class="btn btn-primary m-2">Save Smoothie</button>
          </form>
        <% }%>
      
    </div>
    <div class="col m-4">
      <h4>These are the ingredients</h4>
      <table class="table">
        <thead>
            <th>name</th>
            <th>qty</th>
            <th>kcal</th>
            <th>protein</th>
            <th>carbs</th>
            <th>fat</th>
        </thead> 
        <tbody>
          <% if(ingArr.length){ %>
            <% ingArr.forEach((ing,ingIdx) => { %>
                <tr>
                    <td><%= ing.ing.name %></td> 
                    <td><%= ing.qty %></td> 
                    <td><%= Math.round(ing.ing.kcal * ing.qty/100*10)/10 %></td> 
                    <td><%= Math.round(ing.ing.protein * ing.qty/100*10)/10 %></td> 
                    <td><%= Math.round(ing.ing.carbs * ing.qty/100*10)/10 %></td> 
                    <td><%= Math.round(ing.ing.fat * ing.qty/100*10)/10 %></td> 
                    <td>
                      <form action="/smoothies/new/<%= ingIdx %>/?_method=DELETE" method="POST" >
                        <button type="submit">X</button>
                      </form>
                    </td>
                </tr>
                
            <% }) %>
          <% } %>
        </tbody>
      </table>
      <form action="/smoothies/new" method="post">
        <div class="form-group"> 
          <label>Ingredient
            <select name="ing" class="form-control m-2">
              <!-- Emit an option for each performer -->
              <%- ingredients.map(ing => 
                `<option value="${ing._id}">${ing.name}</option>`
              ).join('') %>
            </select>
              <input name="qty" type="text" class="form-control m-2" placeholder="quantity in grams" required>
          </label>
        </div>
        <button type="submit" class="btn btn-success btn-sm m-2">Add Ingredient</button>
      </form>
    </div>
    
  </div>
</div>



<%- include('../partials/footer') %>