
<%- include('../partials/header') %>
<!-- Edit and delete buttons -->
<% if (smoothie.user?._id.equals(user?._id)) {%>
  <div class="buttons">
    <a href="/smoothies/<%= smoothie.id  %>/edit" class="btn btn-secondary btn-sm m-1">Edit</a>
    <form action="/smoothies/<%= smoothie.id %>?_method=DELETE" method="POST" >
      <button type="submit" class="btn btn-danger btn-sm d-inline m-1">Delete</button>
    </form> 
  </div>
<% } %>

<header>
  <h1><%= smoothie.name %></h1>
  <% if (smoothie.user) {%>
    <small>Created by <%= smoothie.user.name %></small>
  <% } %>
</header>



<div class="container">
  <div class="row">
    <div class="col m-4 text-center">
      <h4><%= totalKcal %> Cal</h4>
      <% if (smoothie.image) { %>
        <img id="img-show" src="<%= smoothie.image %>" alt="ingredient image">
      <% } else { %>
        <img id="img-show" src="/images/comingsoon.jpeg" alt="ingredient image">
      <% } %>
    </div> 
    <div class="col m-4">
      <h5>Ingredients</h5>
      <table class="table">
        <thead>
            <th>name</th>
            <th>qty</th>
            <th>kcal</th>
            <th>protein</th>
            <th>carbs</th>
            <th>fat</th>
        </thead>
        <tbody>
          <% if(smoothie.ingredients.length !== 0){ %>
            <% smoothie.ingredients.forEach(ing => { %>
                <tr>
                    <td><%= ing.ing.name %></td> 
                    <td><%= ing.qty %></td> 
                    <td><%= Math.round(ing.ing.kcal * ing.qty/100*10)/10 %></td> 
                    <td><%= Math.round(ing.ing.protein * ing.qty/100*10)/10 %></td> 
                    <td><%= Math.round(ing.ing.carbs * ing.qty/100*10)/10 %></td> 
                    <td><%= Math.round(ing.ing.fat * ing.qty/100*10)/10 %></td> 
                </tr>
                
            <% }) %>
          <% } %>
        </tbody>
      </table>
      <% 
        const total = totalP + totalC + totalF 
        const protPerc = Math.ceil(totalP/total*100)
        const carbPerc = Math.ceil(totalC/total*100)
        const fatPerc = Math.ceil(totalF/total*100)
      %>
      <!-- The error is here inside the syles -->
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= protPerc %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: <%= carbPerc %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= fatPerc %>%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <ul class="list-pcf mt-3">
            <li class="m-1">Protein: <%= protPerc %> %</li>
            <li class="m-1">Carbs: <%= carbPerc %> %</li>
            <li class="m-1">Fat: <%= fatPerc %> %</li>
        </ul>
    </div>
  </div>
</div>
<hr>
<h2>
  Reviews
  
</h2>

<% if (smoothie.reviews.length) { %>
  <h5 class="m-3">
    <%= Math.round(totalRating/smoothie.reviews.length*10)/10 %>
    <% for(let i=0; i < Math.round(totalRating/smoothie.reviews.length); i++){ %>
      <img id="starImg" src="/images/star.png" alt="star">
    <% } %>
  </h5>
      <% let total = 0 %>
      <% smoothie.reviews.forEach(function(r) { %>
        <% total += r.rating %>
            <div class="shadow p-3 m-3 bg-body rounded">
              <% if (user?._id.equals(r.user)) { %>
                <div class="buttons">
                  <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST" >
                    <button type="submit" class="btn btn-outline-dark btn-sm">X</button>
                  </form>
                </div>
                
              <% } %>
              <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" >
              <%= r.userName %>
               - Rating: <%= r.rating %>
              <div class="m-3"><%= r.content %></div>
            </div>
            
      <% }); %>
    
<% } else { %>
  <p>No Reviews Yet</p>
<% } %>

<!-- Leave a review form -->
<% if (smoothie.user?._id.equals(user?._id)) {%>
  <div class="shadow p-3 m-3 bg-body rounded">
    <form id="add-review-form" method="POST"
    action="/smoothies/<%= smoothie._id %>/reviews">
      <div class="mb-3">
        <label class="form-label">Rating:</label>
        <select name="rating" class="form-control" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Review</label>
        <textarea name="content" rows="3" class="form-control" ></textarea>
      </div>
      <input type="submit" value="Add Review"  class="btn btn-primary btn-sm">
    </form>
  </div>
  
<% } %>

  

<%- include('../partials/footer') %>